{% extends 'myadmin/common/layout.html' %}

{% load static %}

{% block content %}


<section>

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5>All Users</h5>
            <!-- <span class="d-block m-t-5">use class <code>table-inverse</code> inside table element</span> -->
        </div>
        <div class="card-body table-border-style">
            <div class="table-responsive">
                <table class="table table-inverse">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Contact</th>
                            <!-- <th>Gender</th>
                            <th>image</th> -->
                            <th>View Details</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for row in result_cus %}
                        <tr>
                            <td>{{row.id}}</td>
                            <td>{{row.user.first_name}} {{row.user.last_name}}</td>
                            <td>{{row.user.email}}</td>
                            <td>{{row.contact}}</td>
                            <!-- <td>{{row.gender}}</td>
                            <td> <img src="/media/upload/{{row.image}}"> </td> -->
                            <td><a href="/myadmin/customer/{{row.id}}">View Details</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</section>


{% endblock %}