{% extends 'customer/common/layout.html' %}

{% load static %}

{% block content %}
<section class="hero-area">
    <div class="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="page-title">
                        <h1 class="title">About Us</h1>
                        <ul class="breadcrumbs-link">
                            <li><a href="/customer/home">Home</a></li>
                            <li class="active">About Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="intro-area pt-115">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-title text-center mb-60 wow fadeInUp">
                            <span class="sub-title">Reality Homes</span>
                            <h2>About</h2>
                        </div>
                    </div>
                </div>
                <div class="intro-wrppaer-two bg_cover wow fadeInDown" style="background-image: url({% static 'customer/assets/images/bg/h2.jpg' %});">
                </div>
            </div>
        </section><!--====== End Intro Section ======-->
        <!--====== Start Work-process Section ======-->
        <section class="work-process-area pt-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="work-process-wrapper">
                            <div class="row single-process-step align-items-center">
                                <div class="col-lg-6">
                                    <div class="process-content-box wow fadeInLeft">
                                        
                                        <div class="content">
                                            <span class="line"></span>
                                            <h3 class="title">Introduction</h3>
                                            <p style="font-size: 20px;"> Reality – Homes is to serve the purpose that a user can 
												experience realistic visualization of the house without Renting or 
												Buying them and only with the help of their devices it can be 
												Accessed, Anytime, Anywhere.  The real estate portal caters to the need of users and helps the client grow their business reach exponentially. It allows agents, property owners and customers to list & address sale/rent out from the different options.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="process-img wow fadeInRight">
                                        <img src="{% static 'customer/assets/images/bg/h2.jpg' %}" alt="process Image">
                                    </div>
                                </div>
                            </div>
                            <div class="row single-process-step align-items-center">
                                <div class="col-lg-6">
                                    <div class="process-content-box wow fadeInRight">
                                      
                                        <div class="content">

                                            <p style="font-size: 20px;"> With This, Users Can Visualize The House They Want To RENT-IT OR BUY-IT EASILY. The application can be used by all, The Person who are in the situation when they want any Kind of help to find house.  Help users find relevant places easily. The integration of Google maps allows tracking of the exact property location.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="process-img wow fadeInLeft">
                                        <img src="{% static 'customer/assets/images/bg/h2.jpg' %}" alt="process Image">
                                    </div>
                                </div>
                            </div>
                            <div class="row single-process-step align-items-center">
                                <div class="col-lg-6">
                                    <div class="process-content-box wow fadeInLeft">
                                        
                                        <div class="content">
                                            
                                            <p style="font-size: 20px;">The main purpose of the project is to be EASY, TIME SAVING, MONEY SAVING AND EASILY COMMUNICAT E WITH OWNER FOR ANY ISSUES. Provide the safety assurance and show house for rent or for Buying.  Allows sharing of available property deals, upcoming property fairs and more via social media channels for the registered users. </p>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="process-img wow fadeInRight">
                                        <img src="{% static 'customer/assets/images/bg/h2.jpg' %}" alt="process Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--====== End Work-process Section ======-->
        <section class="cta-area">
            <div class="cta-wrapper-two bg_cover b" style="background-image: url({% static 'customer/assets/images/bg/cta-bg-2.jpg' %});">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-7">
                            <div class="company-name wow fadeInLeft">Fioxen</div>
                        </div>
                        <div class="col-lg-5">
                            <div class="cta-content-box wow fadeInRight">
                                <h2>Visit the Best Places</h2>
                                <p>Pharetra venenatis ante pulvinar fermentum dignissim one malesuada laoreet ridiculus fringilla quam</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="testimonial-area bg_cover pt-110 pb-265" style="background-image: url({% static 'customer/assets/images/bg/testimonial-bg-2.jpg' %});">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-title text-center mb-60 wow fadeInUp">
                            <span class="sub-title">Our Testimoinals</span>
                            <h2>Happy User Feedback</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="testimonial-wrapper-one text-center wow fadeInUp">
                            <div class="testimonial-review-area">
                                <div class="testimonial-thumb-slider-one">
                                    <div class="single-thumb">
                                        <img src="{% static 'customer/assets/images/testimonial/tm-thumb-1.jpg' %}" alt="testimonial thumb">
                                    </div>
                                    <div class="single-thumb">
                                        <img src="{% static 'customer/assets/images/testimonial/tm-thumb-2.jpg' %}" alt="testimonial thumb">
                                    </div>
                                    <div class="single-thumb">
                                        <img src="{% static 'customer/assets/images/testimonial/tm-thumb-3.jpg' %}" alt="testimonial thumb">
                                    </div>
                                    <div class="single-thumb">
                                        <img src="{% static 'customer/assets/images/testimonial/tm-thumb-2.jpg' %}" alt="testimonial thumb">
                                    </div>
                                </div>
                                <div class="testimonial-content-slider-one">
                                    <div class="testimonial-item">
                                        <div class="testimonial-content">
                                            <p>multiply given all hath given may meat god abundant appear lioud
                                                fourth madman mane said god dominion great gathering called very shall after cre ated from fruitful place over the mitual </p>
                                            <div class="author-info">
                                                <h4>Melisa Powels</h4>
                                                <span class="position">Sr. Designer</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="testimonial-item">
                                        <div class="testimonial-content">
                                            <p>multiply given all hath given may meat god abundant appear lioud
                                                fourth madman mane said god dominion great gathering called very shall after cre ated from fruitful place over the mitual </p>
                                            <div class="author-info">
                                                <h4>Martyn Decode</h4>
                                                <span class="position">Sr. Designer</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="testimonial-item">
                                        <div class="testimonial-content">
                                            <p>multiply given all hath given may meat god abundant appear lioud
                                                fourth madman mane said god dominion great gathering called very shall after cre ated from fruitful place over the mitual </p>
                                            <div class="author-info">
                                                <h4>Alesha Mature</h4>
                                                <span class="position">Sr. Designer</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="testimonial-item">
                                        <div class="testimonial-content">
                                            <p>multiply given all hath given may meat god abundant appear lioud
                                                fourth madman mane said god dominion great gathering called very shall after cre ated from fruitful place over the mitual </p>
                                            <div class="author-info">
                                                <h4>Martyn Decode</h4>
                                                <span class="position">Sr. Designer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="team-area pt-115 pb-85">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-title text-center mb-50 wow fadeInUp">
                            <span class="sub-title">Team Member</span>
                            <h2>Meet Our Executive</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="team-item team-item-one mb-30 wow fadeInUp">
                            <div class="team-img">
                                <img src="{% static 'customer/assets/images/team/team-1.jpg' %}" alt="Team Image">
                                <div class="team-social">
                                    <ul class="social-link">
                                        <li><a href="#"><i class="ti-facebook"></i></a></li>
                                        <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                        <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                        <li><a href="#"><i class="ti-pinterest"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-info text-center">
                                <h3 class="title">Alesha Mature</h3>
                                <span class="position">Sr. Executive</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="team-item team-item-one mb-30 wow fadeInDown" data-wow-delay="20ms">
                            <div class="team-img">
                                <img src="{% static 'customer/assets/images/team/team-2.jpg' %}" alt="Team Image"><div class="team-social">
                                    <ul class="social-link">
                                        <li><a href="#"><i class="ti-facebook"></i></a></li>
                                        <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                        <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                        <li><a href="#"><i class="ti-pinterest"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-info text-center">
                                <h3 class="title">Martyn Decode</h3>
                                <span class="position">Sr. Executive</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="team-item team-item-one mb-30 wow fadeInUp">
                            <div class="team-img">
                                <img src="{% static 'customer/assets/images/team/team-3.jpg' %}" alt="Team Image">
                                <div class="team-social">
                                    <ul class="social-link">
                                        <li><a href="#"><i class="ti-facebook"></i></a></li>
                                        <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                        <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                        <li><a href="#"><i class="ti-pinterest"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-info text-center">
                                <h3 class="title">Alesha Mature</h3>
                                <span class="position">Sr. Executive</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}