{% extends 'customer/common/layout.html' %}

{% load static %}

{% block content %}

<section class="fioxen-add-listing pt-120 pb-120">
<div class="container">
<form method="post" action="/customer/update_profile/{{result.id}}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="add-listing-form general-listing-form mb-60 wow fadeInUp">
                <h4 class="title">Edit Profile</h4>
                <div class="row mb-40">
                    <div class="col-lg-6">
                        <div class="form_group">
                            <input type="text" class="form_control" placeholder="First Name" name="fname" id="fname" value="{{result.user.first_name}}" required>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form_group">
                            <input type="text" class="form_control" placeholder="Last Name" name="lname" id="lname" value="{{result.user.last_name}}" required>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form_group">
                            <input type="text" class="form_control" placeholder="Email" name="email" id="email" value="{{result.user.email}}" required>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form_group">
                            <input type="text" class="form_control" placeholder="Contact" name="contact" id="contact" value="{{result.contact}}" required>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form_group">
                            <textarea class="form_control" placeholder="Address" name="address" id="address">{{result.address}}</textarea>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label class="d-block text-uppercase">Gender</label>
                        <div class="form-check">
                           <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="gender" value="Male" {% if result.gender == 'Male' %} checked {% endif %}/>
                                <label class="form-check-label" for="gender">Male</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="gender" value="Female" {% if result.gender == 'Female' %} checked {% endif %}/>
                                <label class="form-check-label" for="gender">Female</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="gender" value="Other" {% if result.gender == 'Other' %} checked {% endif %}/>
                                <label class="form-check-label" for="gender">Other</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" style="line-height: 1.5;">
                        <div class="form_group" style="font-size: 15px;">
                            <label class="d-block text-uppercase">
                                Upload Your Photo
                                <span class="text-danger">*</span>
                            </label>
                            <input type="file" name="image" id="image" value="{{result.image}}" required>
                        </div>
                    </div>                                      
                </div>

            <div class="button text-center">
                <button class="main-btn">Update Profile</button>
            </div>

            </div>
            
        </div>
    </div>
</form>
</div>
</section>


{% endblock %}