{% extends 'customer/common/layout.html' %}

{% load static %}

{% block content %}



<section class="hero-area">
    <div class="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="page-title">
                        <h1 class="title">Feedback</h1>
                        <ul class="breadcrumbs-link">
                            <li><a href="/customer/home">Home</a></li>
                            <li class="active">Feedback</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="contact-section pt-115 pb-100">
	<div class="container">
	    <div class="row">
	        <div class="col-lg-10 mx-auto">
	            <div class="section-title section-title-left mb-50">
	                <span class="sub-title">Give Us Feedback about</span>
	                <h2>Our Services</h2>
	            </div>
	        </div>
	    </div>
	            
        <div class="row align-items-center">
            <div class="col-7 mx-auto">
                <div class="card shadow">
                    <div class="card-body d-flex flex-column align-items-center">
                    
            <div class="row">
                <div class="col-lg-12">
                   <!-- form message -->
                    <div class="row">
                        <div class="col-6">
                            <div class="alert alert-success contact__msg" style="display: none" role="alert">
                                Your message was sent successfully.
                            </div>
                        </div>
                    </div>

					<form method="post" action="/customer/feedback_store">
						{% csrf_token %}
					
						
						<div class="col-lg-12 mb-12">
				            <div class="form-group">
				                <label class="h6 small d-block text-uppercase">
				                    Rating
				                    <span class="text-danger">*</span>
				                </label>

				                <div class="input-group form-check form-check-inline">
				                    <input class="form-check-input " name="rating" id="rating" required="" type="radio" value="Excellent">Excellent
				                    <input class="form-check-input ml-3 " name="rating" id="rating" required="" type="radio" value="Good">Good
				                    <input class="form-check-input ml-3" name="rating" id="rating" required="" type="radio" value="Average">Average
				                    <input class="form-check-input ml-3" name="rating" id="rating" required="" type="radio" value="Bad">Bad
				                    <input class="form-check-input ml-3" name="rating" id="rating" required="" type="radio" value="Poor">Poor
				                </div>
				            </div>
				        </div>
							
				    <div class="col-lg-12 mb-12">
						<div class="form-group">
				            <label class="h6 small d-block text-uppercase">
				                Comment
				                <span class="text-danger">*</span>
				            </label>

				            <div class="input-group">
				                <textarea class="form-control" rows="4" name="comment" id="comment" required="" placeholder="Write your comment"></textarea>
				            </div>
				        </div>
				    </div>
						
						
						<div class="button text-center">
			                <button class="main-btn">Send Feedback</button>
			            </div>
					</form>
				
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


{% endblock %}