{% extends 'customer/common/layout.html' %}

{% load static %}

{% block content %}

<section class="fioxen-add-listing pt-120 pb-120">
<div class="container">
<form method="post" action="/customer/request_store">
    {% csrf_token %}
    <input type="hidden" name="proerty_id" id="proerty_id" value="{{proerty_id}}">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="add-listing-form general-listing-form mb-60 wow fadeInUp">
                <h4 class="title">Send Request</h4>
                <div class="row">
                    
                    <div class="col-lg-12">
                        <div class="form_group">
                            <textarea class="form_control" placeholder="message" name="message" id="message"></textarea>
                        </div>
                    </div>
                </div>

                <div class="button text-center">
                    <button class="main-btn">Send</button>
                </div>

            </div>
            
        </div>
    </div>
</form>
</div>
</section>


{% endblock %}